.bg-fluid {
  background-size: cover;
  background-repeat: no-repeat;
}
.bg-link {
  text-indent: 101%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

@each $name, $color in $theme-colors {
  .hover-bg-#{$name}:hover {
    background-color: #{$color};
    transition: background-color 0.3s;
  }
}
